<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xugu.owl.dao.ConnectNodeDao">
   
   <insert id="add" parameterType="connectNode" useGeneratedKeys="true" keyProperty="id">
   		insert into t_connect_node(ip,port,cluster_id) values(#{ip},#{port},#{clusterId});
   </insert>
   
   <insert id="addList" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        insert into t_connect_node(ip,port,cluster_id) 
        values
        <foreach collection="list" item="node" index="index" separator="">
        	(#{node.ip},#{node.port},#{node.clusterId})
        </foreach> 
   </insert>
   
   <delete id="delete" parameterType="int">
   		delete from t_connect_node where id = #{id};
   </delete>
   
   <select id="findByClusterId" parameterType="int" resultType="connectNode">
   		select id, ip, port, cluster_id from t_connect_node where cluster_id = #{clusterId};
   </select>
   
   <update id="update" parameterType="connectNode">
        update t_connect_node set ip = #{ip}, port = #{port} where id = #{id};
   </update>
   
</mapper>